[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/xbyak"]
	path = external/xbyak
	url = https://github.com/herumi/xbyak
[submodule "external/Catch2"]
	path = external/Catch2
	url = git@github.com:catchorg/Catch2.git
